<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="بتن گازی سبک، بهترین، سبک ترین، و عایق ترین محصول ساختمانی است.">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Baroosh Aerated Autoclaved Concrete (AAC)</title>

  

  <!-- Bootstrap -->
  <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/font-awesome.min.css">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/animate.css">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/overwrite.css">
  <link href="~/lib/bootstrap/dist/css/animate.min.css" rel="stylesheet">
  <link href="~/lib/bootstrap/dist/css/style.css" rel="stylesheet" />
  <!-- =======================================================
    Theme Name: Bikin
    Theme URL: https://bootstrapmade.com/bikin-free-simple-landing-page-template/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
  ======================================================= -->


</head>



<body>

  <div vocab="https://schema.org/" typeof="Product">
     <span property="brand">باروش</span> <span property="name">بتن باروش</span>
     <!--<img property="image" src="anvil_executive.jpg" alt="Executive Anvil logo" />-->

     <span property="aggregateRating"
           typeof="AggregateRating">
      Average rating: <span property="ratingValue">4.4</span>, based on
      <span property="ratingCount">89</span> reviews
     </span>

     <!--<span property="offers" typeof="AggregateOffer">
      from $<span property="lowPrice">119.99</span> to
      $<span property="highPrice">199.99</span>
      <meta property="priceCurrency" content="USD" />
     </span>-->
    </div>

    <div typeof="schema:Product">
        <div rel="schema:review">
          <div typeof="schema:Review">
            <div rel="schema:reviewRating">
              <div typeof="schema:Rating">
                <div property="schema:ratingValue" content="4"></div>
                <div property="schema:bestRating" content="5"></div>
              </div>
            </div>
            <div rel="schema:author">
              <div typeof="schema:Person">
                <div property="schema:name" content="Fred Benson"></div>
              </div>
            </div>
          </div>
        </div>
        <!--<div rel="schema:image" resource="https://example.com/photos/4x3/photo.jpg"></div>-->
        <div property="schema:mpn" content="925872"></div>
        <div property="schema:name" content="Executive Anvil"></div>
        <div property="schema:description" content="بتن گازی سبک، بهترین، سبک ترین، و عایق ترین محصول ساختمانی است."></div>
        <!--<div rel="schema:image" resource="https://example.com/photos/1x1/photo.jpg"></div>-->
        <div rel="schema:brand">
          <div typeof="schema:Thing">
            <div property="schema:name" content="ACME"></div>
          </div>
        </div>
        <div rel="schema:aggregateRating">
          <div typeof="schema:AggregateRating">
            <div property="schema:reviewCount" content="89"></div>
            <div property="schema:ratingValue" content="4.4"></div>
          </div>
        </div>
        <!--<div rel="schema:offers">
          <div typeof="schema:Offer">
            <div property="schema:price" content="119.99"></div>
            <div property="schema:availability" content="https://schema.org/InStock"></div>
            <div rel="schema:seller">
              <div typeof="schema:Organization">
                <div property="schema:name" content="Executive Objects"></div>
              </div>
            </div>
            <div property="schema:priceCurrency" content="USD"></div>
            <div property="schema:priceValidUntil" datatype="xsd:date" content="2019-02-05"></div>
            <div rel="schema:url" resource="https://example.com/anvil"></div>
            <div property="schema:itemCondition" content="https://schema.org/UsedCondition"></div>
          </div>
        </div>
        <div rel="schema:image" resource="https://example.com/photos/16x9/photo.jpg"></div>
        <div property="schema:sku" content="0446310786"></div>-->
      </div>

  <header id="header">
    <nav class="navbar navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
          <a class="navbar-brand" href="index.html">باروش</a>
        </div>
        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#header">خانه</a></li>
            <li><a href="#feature">ویژگی</a></li>
            <li><a href="#gallery">کاتالوگ</a></li>
            <!-- <li><a href="#pricing">قیمت</a></li> -->
            <!-- <li><a href="#our-team">Our Team</a></li> -->
            <li><a href="#contact">تماس با ما</a></li>
          </ul>
        </div>
      </div>
      <!--/.container-->
    </nav>
    <!--/nav-->
  </header>
  <!--/header-->
  <div class="slider">
    <div id="about-slider">
      <div id="carousel-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators visible-xs">
          <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-slider" data-slide-to="1"></li>
          <li data-target="#carousel-slider" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="~/lib/bootstrap/dist/img/baroosh/1.JPG" class="img-responsive" alt="">
            <div class="carousel-caption">
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                <!-- <h2><span>Clean & Fully Modern Design</span></h2> -->
              </div>
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing</p> -->
              </div>
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                <div class="form-inline">
                  <div class="form-group">
                    <a href="#feature">
                      <button type="livedemo" name="Live Demo" class="btn btn-primary btn-lg" required="required">ویژگی</button>
                    </a> 
                  </div>
                  <div class="form-group">
                    <a href="#gallery">
                      <button type="getnow" name="Get Now" class="btn btn-primary btn-lg" required="required"> کاتالوگ</button>
                    </a>
                  </div>
                  <div class="form-group">
                    <a href="#contact">
                      <button type="livedemo" name="Live Demo" class="btn btn-primary btn-lg" required="required">تماس با ما</button>
                    </a> 
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <img src="~/lib/bootstrap/dist/img/baroosh/2.JPG" class="img-responsive" alt="">
            <div class="carousel-caption">
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">
                <!-- <h2>Fully Responsive</h2> -->
              </div>
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.3s">
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing</p> -->
              </div>
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.6s">
                <div class="form-inline">
                  <div class="form-group">
                    <a href="#feature"><button type="livedemo" name="Live Demo" class="btn btn-primary btn-lg" required="required">ویژگی</button></a>
                  </div>
                  <div class="form-group">
                    <a href="#gallery"><button type="getnow" name="Get Now" class="btn btn-primary btn-lg" required="required">کاتالوگ</button></a>
                  </div>
                  <div class="form-group">
                    <a href="#contact"><button type="livedemo" name="Live Demo" class="btn btn-primary btn-lg" required="required">تماس با ما</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="~/lib/bootstrap/dist/img/baroosh/13.JPG" class="img-responsive" alt="">
            <div class="carousel-caption">
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                <!-- <h2>Modern Design</h2> -->
              </div>
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing</p> -->
              </div>
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                <div class="form-inline">
                  <div class="form-group">
                    <a href="#feature">
                      <button type="livedemo" name="Live Demo" class="btn btn-primary btn-lg" required="required">ویژگی</button>
                    </a>
                  </div>
                  <div class="form-group">
                    <a href="#gallery"><button type="getnow" name="Get Now" class="btn btn-primary btn-lg" required="required">کاتالوگ</button></a>
                  </div>
                  <div class="form-group">
                    <a href="#contact"><button type="livedemo" name="Live Demo" class="btn btn-primary btn-lg" required="required">تماس با ما</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>

        <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
      </div>
      <!--/#carousel-slider-->
    </div>
    <!--/#about-slider-->
  </div>
  <!--/#slider-->

  <div id="feature">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <h3>ویژگی</h3>
          <p style="font-size:larger;">بتن گازی سبک، بهترین، سبک ترین، و عایق ترین<br>محصول ساختمانی است</p>
        </div>
        <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
          <div class="text-center">
            <div class="hi-icon-wrap hi-icon-effect">
              <img style="width:50%" src="~/lib/bootstrap/dist/img/baroosh/ayegh.png" alt="ayegh">
              <!-- <i class="fa fa-laptop"></i> -->
              <h2>عایق حرارت</h2>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing</p> -->
            </div>
          </div>
        </div>
        <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
          <div class="text-center">
            <div class="hi-icon-wrap hi-icon-effect">
              <img style="width:50%" src="~/lib/bootstrap/dist/img/baroosh/sabok.png" alt="sabok">
              <!-- <i class="fa fa-heart-o"></i> -->
              <h2>سبک</h2>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing</p> -->
            </div>
          </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
          <div class="text-center">
            <div class="hi-icon-wrap hi-icon-effect">
            <img style="width:50%" src="~/lib/bootstrap/dist/img/baroosh/nasbeasan.png" alt="sabok">
              <!-- <i class="fa fa-cloud"></i> -->
              <h2>نصب سریع  و استفاده ی آسان</h2>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing</p> -->
            </div>
          </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
          <div class="text-center">
            <div class="hi-icon-wrap hi-icon-effect">
              <img style="width:50%" src="~/lib/bootstrap/dist/img/baroosh/dollar.png" alt="dollar"> 
              <!-- <i class="fa fa-camera"></i> -->
              <h2>مقرون به صرفه</h2>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="gallery">
    <div class="container">
      <div class="text-center">
        <h3>کاتالوگ</h3>
        <p style="font-size:larger;">از محصولات ما دیدن کنید<br>دانلود کاتالوگ محصول</p>
      </div>
      <div class="row">
        <figure class="effect-chico">
          <div class="col-md-3 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
            <a href="~/lib/bootstrap/dist/img/catalog/1.png" class="flipLightBox">
						<img src="~/lib/bootstrap/dist/img/catalog/1.png" class="img-responsive" alt="">
						</a>
          </div>
        </figure>
        <figure class="effect-chico">
          <div class="col-md-3 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
            <a href="~/lib/bootstrap/dist/img/catalog/2.png" class="flipLightBox">
						<img src="~/lib/bootstrap/dist/img/catalog/2.png" class="img-responsive" alt="">
						</a>
          </div>
        </figure>
        <figure class="effect-chico">
          <div class="col-md-3 wow fadeInDown" data-wow-offset="0" data-wow-delay="0.3s">
            <a href="~/lib/bootstrap/dist/img/catalog/3.png" class="flipLightBox">
						<img src="~/lib/bootstrap/dist/img/catalog/3.png" class="img-responsive" alt="">
						</a>
          </div>
        </figure>
        <figure class="effect-chico">
          <div class="col-md-3 wow fadeInDown" data-wow-offset="0" data-wow-delay="0.3s">
            <a href="~/lib/bootstrap/dist/img/catalog/4.png" class="flipLightBox">
						<img src="~/lib/bootstrap/dist/img/catalog/4.png" class="img-responsive" alt="">
						</a>
          </div>
        </figure>
      </div>
    </div>
    <!--<div class="gallery">
      <div class="container">
        <div class="row">
          <figure class="effect-chico">
            <div class="col-md-3 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
              <a href="~/lib/bootstrap/dist/img/work/5.jpg" class="flipLightBox">
							<img src="~/lib/bootstrap/dist/img/work/5.jpg" class="img-responsive" alt="">
							</a>
            </div>
          </figure>
          <figure class="effect-chico">
            <div class="col-md-3 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
              <a href="~/lib/bootstrap/dist/img/work/6.jpg" class="flipLightBox">
							<img src="~/lib/bootstrap/dist/img/work/6.jpg" class="img-responsive" alt="">
							</a>
            </div>
          </figure>
          <figure class="effect-chico">
            <div class="col-md-3 wow fadeInDown" data-wow-offset="0" data-wow-delay="0.3s">
              <a href="~/lib/bootstrap/dist/img/work/7.jpg" class="flipLightBox">
							<img src="~/lib/bootstrap/dist/img/work/7.jpg" class="img-responsive" alt="">
							</a>
            </div>
          </figure>
          <figure class="effect-chico">
            <div class="col-md-3 wow fadeInDown" data-wow-offset="0" data-wow-delay="0.3s">
              <a href="~/lib/bootstrap/dist/img/work/8.jpg" class="flipLightBox">
							<img src="~/lib/bootstrap/dist/img/work/8.jpg" class="img-responsive" alt="">
							</a>
            </div>
          </figure>
        </div>
      </div>
    </div> -->
  </div>
  <!--/#gallery-->

  <div class="parallax-window">
    <div class="col-md-6 col-md-offset-3">
      <div class="text-center">
        <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.2s">
          <h2>ما برای مشتری ها ارزش قائل هستیم</h2>
        </div>
        <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.6s">
          <p>رکن اول ما، رضایت مشتری است
          </p>
        </div>
      </div>
    </div>
    <div class="sub-parallax">
      <div class="text-center">
        <div class="col-md-12">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.9s">
            <!--<form class="form-inline">
              <div class="form-group">
                <button type="purchase" name="purchase" class="btn btn-primary btn-lg" required="required">Purchase</button>
              </div>
              <div class="form-group">
                <button type="subscribe" name="subscribe" class="btn btn-primary btn-lg" required="required">Subscribe Now</button>
              </div>
            </form>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/#parallax-window-->

  <!--<div id="pricing">
    <div class="container">
      <div class="text-center">-->
        <!--<h3>Pricing Table</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>-->
      <!--</div>-->

      <!--<div class="pricing-area text-center">
        <div class="row">-->
          <!--<div class="col-sm-4 plan price-one wow fadeInDown" data-wow-offset="0" data-wow-delay="0.2s">
            <ul>
              <li class="heading-one">
                <h2>Start Up</h2>
                <span>$6/Month</span>
              </li>
              <li>5 Gb Disk Space</li>
              <li>1GB Dadicated Ram</li>
              <li>10 Addon Domain</li>
              <li>10 Email Account</li>
              <li>24/7 Support</li>
              <li class="plan-action">
                <a href="" class="btn btn-primary">Sign up</a>
              </li>
            </ul>
          </div>-->

          <!--<div class="col-sm-4 plan price-two wow fadeInDown" data-wow-offset="0" data-wow-delay="0.6s">
            <ul>
              <li class="heading-two">
                <h2>Standard</h2>
                <span>$12/Month</span>
              </li>
              <li>10 Gb Disk Space</li>
              <li>2GB Dadicated Ram</li>
              <li>20 Addon Domain</li>
              <li>20 Email Account</li>
              <li>24/7 Support</li>
              <li class="plan-action">
                <a href="" class="btn btn-primary">Sign up</a>
              </li>
            </ul>
          </div>-->

          <!--<div class="col-sm-4 plan price-three wow fadeInDown" data-wow-offset="0" data-wow-delay="0.9s">
            <img src="~/lib/bootstrap/dist/img/ri.png">
            <ul>
              <li class="heading-three">
                <h2>Premium</h2>
                <span>$24/Month</span>
              </li>
              <li>50 Gb Disk Space</li>
              <li>8GB Dadicated Ram</li>
              <li>Unlimited Addon Domain</li>
              <li>Unlimited Email Account</li>
              <li>24/7 Support</li>
              <li class="plan-action">
                <a href="" class="btn btn-primary">Sign up</a>
              </li>
            </ul>
          </div>-->

          <!--<div class="col-sm-6 col-md-3 plan price-four wow fadeInLeft">
            <ul>
              <li class="heading-four">
                <h2>Basic</h2>
                <span>$3/Month</span>
              </li>
              <li>5 Gb Disk Space</li>
              <li>1GB Dadicated Ram</li>
              <li>10 Addon Domain</li>
              <li>10 Email Account</li>
              <li>24/7 Support</li>
              <li class="plan-action">
                <a href="" class="btn btn-primary">Sign up</a>
              </li>
            </ul>
          </div>-->

          <!--<div class="col-sm-6 col-md-3 plan price-five wow fadeInLeft">
            <ul>
              <li class="heading-five">
                <h2>Standard</h2>
                <span>$6/Month</span>
              </li>
              <li>5 Gb Disk Space</li>
              <li>1GB Dadicated Ram</li>
              <li>10 Addon Domain</li>
              <li>10 Email Account</li>
              <li>24/7 Support</li>
              <li class="plan-action">
                <a href="" class="btn btn-primary">Sign up</a>
              </li>
            </ul>
          </div>-->

          <!--<div class="col-sm-6 col-md-3 plan price-six wow fadeInRight">
            <img src="~/lib/bootstrap/dist/img/rib.png">
            <ul>
              <li class="heading-six">
                <h2>Premium</h2>
                <span>$12/Month</span>
              </li>
              <li>5 Gb Disk Space</li>
              <li>1GB Dadicated Ram</li>
              <li>10 Addon Domain</li>
              <li>10 Email Account</li>
              <li>24/7 Support</li>
              <li class="plan-action">
                <a href="" class="btn btn-primary">Sign up</a>
              </li>
            </ul>
          </div>-->

          <!--<div class="col-sm-6 col-md-3 plan price-seven wow fadeInRight">
            <ul>
              <li class="heading-seven">
                <h2>Developer</h2>
                <span>$19/Month</span>
              </li>
              <li>5 Gb Disk Space</li>
              <li>1GB Dadicated Ram</li>
              <li>10 Addon Domain</li>
              <li>10 Email Account</li>
              <li>24/7 Support</li>
              <li class="plan-action">
                <a href="" class="btn btn-primary">Sign up</a>
              </li>
            </ul>
          </div>-->
        <!--</div>
      </div>--> 
      <!--/pricing-area-->
    <!--</div>
  </div>-->
  <!--/#pricing-->

  <div id="our-team">
    <div class="container">
      <div class="text-center">
        <h3>تیم ما</h3>
        <p>با مدیران با استعداد ما که شرکت را با بیشترین صداقت و خدمات استثنایی مشتری هدایت می کنند، ملاقات کنید<br>محصولات ما دارای نشان استاندارد از سازمان استاندارد ایران میباشد</p>
      </div>
      <!--<div class="row">
        <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
          <div class="text-center">
            <img style="width: 70%; border-radius:50%;" src="~/lib/bootstrap/dist/img/team/baba.png" alt="">
            <h2>قاسم صیفی کار</h2>
            <h4>مدیر عامل</h4>
            <p>مهندس مکانیک از دانشگاه ایالتی داکتا شمالی</p>
          </div>
        </div>
        <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
          <div class="text-center">
            <img style="width: 70%; border-radius:50%;" src="~/lib/bootstrap/dist/img/team/zhila.png" alt="">
            <h2>ژیلا ایرانی</h2>
            <h4>مدیر امور مالی</h4>
            <p>لیسانس مامایی از دانشگاه علوم پزشکی تهران</p>
          </div>
        </div>
        <div class="col-md-4 wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
          <div class="text-center">
            <img style="width: 70%; border-radius:50%;" src="~/lib/bootstrap/dist/img/team/alireza.png" alt="">
            <h2>علیرضا صیفی کار</h2>
            <h4>اعضای هیئت مدیره</h4>
            <p>UCLA مهندس مکانیک و دانشجوی دانشگاه</p>
          </div>
        </div>
        <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
          <div class="text-center">
            <img style="width: 70%; border-radius:50%;"  src="~/lib/bootstrap/dist/img/team/nastaran.png" alt="">
            <h2>نسترن صیفی کار</h2>
            <h4>مهندس طراح و مسول فروش</h4>
            <p>مهندس معمار از دانشگاه آزاد تهران غرب</p>
          </div>
        </div>
      </div>
    </div>-->
    <div class="team">
      <div class="container">
        <div class="row">
          <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
            <div class="text-center">
              <img style="width: 70%; border-radius:50%;" src="~/lib/bootstrap/dist/img/team/baba.png" alt="">
              <h2>قاسم صیفی کار</h2>
              <h4>مدیر عامل</h4>
              <p>مهندس مکانیک از دانشگاه ایالتی داکوتای شمالی آمریکا</p>
            </div>
          </div>
          <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
            <div class="text-center">
              <img style="width: 70%; border-radius:50%;" src="~/lib/bootstrap/dist/img/team/zhila.png" alt="">
              <h2>ژیلا ایرانی</h2>
              <h4>مدیر امور مالی</h4>
              <p>لیسانس مامایی از دانشگاه علوم پزشکی تهران</p>
            </div>
          </div>
          <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
            <div class="text-center">
              <img style="width: 70%; border-radius:50%;" src="~/lib/bootstrap/dist/img/team/alireza.png" alt="">
              <h2>علیرضا صیفی کار</h2>
              <h4>اعضای هیئت مدیره</h4>
              <p>UCLA مهندس مکانیک و دانشجوی دانشگاه</p>
            </div>
          </div>
          <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
            <div class="text-center">
              <img style="width: 70%; border-radius:50%;"  src="~/lib/bootstrap/dist/img/team/nastaran.png" alt="">
              <h2>نسترن صیفی کار</h2>
              <h4>مهندس طراح و مسول فروش</h4>
              <p>مهندس معمار از دانشگاه آزاد تهران غرب</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/#our-team-->

  <div class=“container”>
	<main role=“main” class=“pb-3”>
		@RenderBody()
	</main>
  </div>

  <footer>
    <div id="contact">
      <div class="container">
        <div class="text-center">
          <h3>تماس با ما</h3>
          <p>تیم ما مشتاقانه پاسخ گوی سوالات شما است</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
            <h2>هر زمان با ما تماس بگیرید</h2>
            <p>کارخانه ی ما در سال ۱۳۹۲ تأسیس شد و در استان خوزستان واقع شده و بتن ساختمانی پیشرفته ارائه می دهد. باروش آماده همکاری با شما در پروژه بعدی شماست. لطفا امروز با ما تماس بگیرید</p>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.4s">
            <h2>اطلاعات تماس</h2>
            <ul>
              <li><i class="fa fa-home fa-2x"></i> اندیمشک کیلومتر ۱۷ جاده اهواز شرکت آریا استیل الوند</li>
              <hr>
              <li><i class="fa fa-phone fa-2x"></i> ۰۶۱۴۲۶۷۸۴۶۱-۳ -- ۰۶۱۴۲۶۷۸۳۴۶ -- ۰۹۱۲۳۸۶۴۳۲۲</li>
              <hr>
              <li><i class="fa fa-envelope fa-2x"></i> aryasteelalvand93@gmail.com</li>
            </ul>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="message" method="post" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="اسم شما" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="ایمیل شما" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="content" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="پیام خود را اینجا بنویسید"></textarea>
                <div class="validation"></div>
              </div>

              <button type="submit" class="btn btn-theme pull-left">ارسال پیام</button>




            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/#contact-->
    <!--<div class="container">
      <div class="sub-footer">
        <div class="text-center">
          <div class="col-md-12">
            <form class="form-inline">
              <div class="form-group">
                <button type="purchase" name="purchase" class="btn btn-primary btn-lg" required="required">Enter Your Email</button>
              </div>
              <div class="form-group">
                <button type="subscribe" name="subscribe" class="btn btn-primary btn-lg" required="required">Subscribe Now</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>-->
    <!--<div class="social-icon">
      <div class="container">
        <div class="col-md-6 col-md-offset-3">
          <ul class="social-network">
            <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
            <li><a href="#" class="dribbble tool-tip" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#" class="pinterest tool-tip" title="Pinterest"><i class="fa fa-pinterest-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>-->
    <div class="text-center">
      <div class="copyright">
        &copy; Bikin Theme. All Rights Reserved.
        <!--<div class="credits">-->
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bikin
          -->
         <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>-->
      </div>
    </div>
  </footer>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="~/lib/bootstrap/dist/js/jquery-2.1.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/parallax.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/wow.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="~/lib/bootstrap/dist/js/fliplightbox.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/functions.js"></script>
  <script src="~/lib/bootstrap/dist/contactform/contactform.js"></script>

  

</body>

</html>
